body {
background: #919499;
}

h1 {
  text-align: center;
}

.col-sm-1 {
  margin-top: 10px;
  padding-bottom: 5px;
}
p{
  padding: 0px;
  margin: 0px;
}
img {
    border-radius: 10px;
    height: 79px;
    width: 76px;
}

#textarea {
  float: left;
}

.buttonGroup {
  float: left;
}

/*textarea {
  float:right;
}*/
