body {
background: #919499;
}

h1 {
  text-align: center;
}

.col-lg-2 {
  margin-bottom: 25px;
}


img {
    border-radius: 10px;
    height: 79px;
    width: 76px;
}

#textarea {
  float: left;
}


.buttonGroup {
  float: left;
}

/*textarea {
  float:right;
}*/
